/nbproject/private/
/build/
/Java-1/HandIn/
/Java-2/*/target/
/Java-3/*/target/

/Java-3/*/build/
/Java-3/*/dist/
/Java-3/*/nbproject/private/

/Java-3/Lab-1/Lab-1-war/nbproject/private/
/Java-3/Lab-1/Lab-1-ejb/nbproject/private/